.ticket{
    border:1px solid pink;
    border-radius: 14px;
}
.body{
    
    padding-left: 60px;
    padding-right: 40px;
    border:60px solid black;
    box-shadow:4px 4px 15px white ;
}

h4{
    color: blue;
    font-weight:800;
    font-size: 2rem;
}